.container {
  display: flex;
  justify-content: space-between;
  padding: 8vw 10vw;
}

.img-self {
  flex-basis: 50%;
  width: 35vw;
  height: 35vw;
  border-radius: 5%;
}

.img-stack{
  position: relative;
  width: 35vw; 
  height: 35vw;
  left: 5vw
}

.img-stack img{
  width: 20vw;
  height: 20vw;
  position: absolute;
  border-radius: 10%;
}

.img-stack-1-right{
  top: 1vw;
  left: 1vw;
}

.img-stack-2-right{
  top: 15vw;
  left: 15vw;
}

.img-stack-1-left{
  bottom: 1vw;
  right: 7vw
}

.img-stack-2-left{
  bottom: 15vw;
  left: -5vw
}

.right-img-shift{
  margin:1vw 1vw 1vw 10vw;
}

.left-img-shift{
  margin:1vw 10vw 1vw 1vw;
}

.side {
  flex: 1;
  position: relative;
}

.container .header h1 {
  text-align: center;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}


.splash {

  font-size: 3.5vw;

}


.body-text {
  font-size: 1.5vw;
  font-family: 'Trebuchet MS', sans-serif;
}

.body-text li {
  margin-bottom: 1vw;
}

.container .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  display: flex;
  padding: 0.4vw 1.2vw;
  border-radius: 5%;
  font-family: Tahoma, sans-serif;
  
  text-align: center;
  
  
}

.container .buttons a {
  margin: 0.75vw;
  border: 0.3vw solid #999999;
  background-color: #666666;
  color: #eeeeee;
  font-size: 1.5vw;
  width: 25vw;
  text-decoration: none;
}

.button-img {
  height: 1.7vw;
  width: 1.7vw;
  margin-right: 1.3vw;
}

.button-bottom-right {
  position: relative;
  top: 2vw;

  border: 0.3vw solid grey;
  background-color: #000000;
  color: white;
  font-size: 1.2vw;
  align-items: center;
  height:2vw;
  width: 10.5vw;
  text-decoration: none;
}

